.main-logo {
	width: 35%;
}

.logo-favicon-mini {
	width: 250%;
}

li.bg-light {
	height: 1px;
	color: white;
	background-color: #edf1f2;
}

a.btn-logout {
	background-color:  #0057b8;
	color: #fff!important;
}

a.btn-logout:hover {
	background-color:  #0057b8;
	color: #fff!important;
}

label.detail-order-label {
	margin-left: 15px!important;
}

div.margin-first-row-detail-pedido {
	margin-top:15px;
}

h3.h3-detail-pedido {
	margin-top: 0px;
}

tr.row-order {
	cursor:pointer;
}

td.td_status_handling {
	background-color: #f39c12;
    color: #fff;
    text-align: center;
}

td.td_status_invoiced {
	background-color: #00a65a;
    color: #fff;
    text-align: center;
}

td.td_status_canceled {
	background-color: #dd4b39;
    color: #fff;
    text-align: center;
}


#orders_list tbody tr:hover > td {
  background-color: #f39c12!important;
  color: #fff;
}


/*Pestañas de navegación para detalle de un pedido*/





