.main-logo {
	width: 35%;
}

.logo-favicon-mini {
	width: 250%;
}

li.bg-light {
	height: 1px;
	color: white;
	background-color: #edf1f2;
}

a.btn-logout {
	background-color:  #0057b8;
	color: #fff!important;
}

a.btn-logout:hover {
	background-color:  #0057b8;
	color: #fff!important;
}

label.detail-order-label {
	margin-left: 15px!important;
}

div.margin-first-row-detail-pedido {
	margin-top:15px;
}

h3.h3-detail-pedido {
	margin-top: 0px;
}

tr.row-order {
	cursor:pointer;
}